block variables
  - var title = "UX & Product Design"
  - var description = "Cody Lindsay Gordon is an Australian product designer & coder with over a decade of experience in user-centered design practices."
  - var slug = ""
  - var card = "card-clg.png"
  - var frontPage = true

doctype html
html(lang="en")

  head

    title #{title} &rarr; Cody Lindsay Gordon
    meta(name="description", content="#{description}")
    meta(name="theme-color", content="#26282e")
    meta(charset="utf-8")
    meta(name="author", content="Cody Lindsay Gordon")
    meta(name="google-site-verification", content="ZkjeR5dDgGZ5iIrCxvCjqgPrhHp6dco-Jck7IWutYZo")
    
    block viewport
      meta(name="viewport", content="initial-scale=1")

    meta(property="og:title", content="#{title}")
    meta(property="og:site_name", content="Cody Lindsay Gordon")
    meta(property="og:description", content="#{description}")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://clg.name/#{slug}")
    meta(property="og:image", content="http://clg.name/#{card}")

    link(rel="icon", href="/favicon.svg")
    link(rel="stylesheet", href="/static/styles.css", async)

    block headExtra

  body

    block header
      include _header

    block content
